---
---

.markdown-body {
  font-size: 15px;
  line-height: 1.7;
  /*overflow: hidden;*/ /*comment out for anchor deeplinking*/
  word-wrap: break-word;

  >*:first-child {
    margin-top: 0 !important;
  }

  >*:last-child {
    margin-bottom: 0 !important;
  }

  a.anchor {
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  a.anchor:focus {
    outline: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0 15px;
    padding: 0;
    font-weight: 500;
    line-height: 1.7;
    cursor: text;
    position: relative;
  }

  h1 {
    font-size: 1.8em;
    border-bottom: 1px solid #ddd;
  }

  h2 {
    font-size: 1.6em;
    border-bottom: 1px solid #ddd;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    color: #777;
    font-size: 1em;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre {
    margin: 15px 0;
  }

  pre.highlight {
    padding: 0;
    border: 0;
  }

  hr {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
    border: 0 none;
    color: #ccc;
    height: 4px;
    padding: 0;
    margin: 15px 0;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  ul ul {
    margin: 0;
  }

  ol ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 15px;
  }

  dl dd {
    margin-bottom: 15px;
    padding: 0 15px;
  }

  blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
  }

  blockquote>:first-child {
    margin-top: 0px;
  }

  blockquote>:last-child {
    margin-bottom: 0px;
  }

  > table {
    width: 100%;
    overflow: auto;
    display: block;
  }

  table th {
    font-weight: bold;
  }

  table th,
  table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
  }

  table tr {
    border-top: 1px solid #ccc;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 5px 20px 1px rgba(0,0,0,0.1);
    box-shadow: 0 5px 20px 1px rgba(0,0,0,0.2);
    margin: 10px 0;
  }

  code {
    margin: 0;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
  }

  code:before,
  code:after {
    content: "\00a0";
    letter-spacing: -0.2em;
  }

  pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }

  .highlight pre,
  pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }

  pre {
    word-wrap: normal;
  }

  pre code {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    word-wrap: normal;
    max-width: initial;
    display: inline;
    overflow: initial;
    line-height: inherit;
  }

  pre code:before,
  pre code:after {
    content: normal;
  }

  .highlight { 
    background: #ffffff;
    overflow: auto;

    .c { color: #999988; font-style: italic } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .k { font-weight: bold } /* Keyword */
    .o { font-weight: bold } /* Operator */
    .cm { color: #999988; font-style: italic } /* Comment.Multiline */
    .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
    .c1 { color: #999988; font-style: italic } /* Comment.Single */
    .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
    .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
    .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #aa0000 } /* Generic.Error */
    .gh { color: #999999 } /* Generic.Heading */
    .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
    .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #555555 } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #aaaaaa } /* Generic.Subheading */
    .gt { color: #aa0000 } /* Generic.Traceback */
    .kc { font-weight: bold } /* Keyword.Constant */
    .kd { font-weight: bold } /* Keyword.Declaration */
    .kp { font-weight: bold } /* Keyword.Pseudo */
    .kr { font-weight: bold } /* Keyword.Reserved */
    .kt { color: #445588; font-weight: bold } /* Keyword.Type */
    .m { color: #009999 } /* Literal.Number */
    .s { color: #d14 } /* Literal.String */
    .na { color: #008080 } /* Name.Attribute */
    .nb { color: #0086B3 } /* Name.Builtin */
    .nc { color: #445588; font-weight: bold } /* Name.Class */
    .no { color: #008080 } /* Name.Constant */
    .ni { color: #800080 } /* Name.Entity */
    .ne { color: #990000; font-weight: bold } /* Name.Exception */
    .nf { color: #990000; font-weight: bold } /* Name.Function */
    .nn { color: #555555 } /* Name.Namespace */
    .nt { color: #000080 } /* Name.Tag */
    .nv { color: #008080 } /* Name.Variable */
    .ow { font-weight: bold } /* Operator.Word */
    .w { color: #bbbbbb } /* Text.Whitespace */
    .mf { color: #009999 } /* Literal.Number.Float */
    .mh { color: #009999 } /* Literal.Number.Hex */
    .mi { color: #009999 } /* Literal.Number.Integer */
    .mo { color: #009999 } /* Literal.Number.Oct */
    .sb { color: #d14 } /* Literal.String.Backtick */
    .sc { color: #d14 } /* Literal.String.Char */
    .sd { color: #d14 } /* Literal.String.Doc */
    .s2 { color: #d14 } /* Literal.String.Double */
    .se { color: #d14 } /* Literal.String.Escape */
    .sh { color: #d14 } /* Literal.String.Heredoc */
    .si { color: #d14 } /* Literal.String.Interpol */
    .sx { color: #d14 } /* Literal.String.Other */
    .sr { color: #009926 } /* Literal.String.Regex */
    .s1 { color: #d14 } /* Literal.String.Single */
    .ss { color: #990073 } /* Literal.String.Symbol */
    .bp { color: #999999 } /* Name.Builtin.Pseudo */
    .vc { color: #008080 } /* Name.Variable.Class */
    .vg { color: #008080 } /* Name.Variable.Global */
    .vi { color: #008080 } /* Name.Variable.Instance */
    .il { color: #009999 } /* Literal.Number.Integer.Long */

    /* line number box formatting */
    table {
      margin: 0 !important;
      min-width: 900px;
      background-color: #f8f8f8;

      td {
        pre {
          border: none;
          padding: 0 10px 0 0;
          margin: 0;
        }
      }
    }
    td.gutter.gl {
      width: 10px;
      padding: 0;
    }

    /** GH outputs classnames differntly for lineno */
    td.rouge-gutter.gl {
      width: 40px;
      text-align: right;
      padding: 0;
    }

    pre.lineno {
      border: 0 !important;
      color: rgba(27, 31, 35, 0.3);
      padding: 0 10px;
      margin: 0;
    }
  }
}