---
---

/* Global styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

strong {
  font-weight: bold;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code,
pre {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 0.9em;
}

img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}

body {
  color: #333333;
  background-color: #fff;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  text-shadow: none;
  background: rgba(65,131,196,0.4);
}

::selection {
  text-shadow: none;
  background: rgba(65,131,196,0.4);
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
a:active {
  text-decoration: underline;
}

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

hr:before,
hr:after {
  content: " ";
  display: table;
}

hr:after {
  clear: both;
}

ol ol {
  list-style-type: lower-roman;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.7;
  cursor: text;
  position: relative;
}

h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd;
}

h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  color: #777;
  font-size: 1em;
}

blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}

/** Custom */

#wrap {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.home .col-md-3 ul {
  padding-left: 20px;
  font-size: 14px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template method. */

article h1:hover a.anchor-link,
article h2:hover a.anchor-link,
article h3:hover a.anchor-link,
article h4:hover a.anchor-link {
  display: block;
}

a.anchor-link {
  display: none;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: -26px;
  margin-top: -16px;
  padding-right: 6px;
  width: 20px;
  height: 32px;
  font-size: 20px;
}

.navbar-header {
  float: none;

  h1 {
    border: 0;
    display: inline-block;
    margin: 0 0 0 10px;
    top: -7px;
    font-size: 1.7em;
    line-height: 35px;
    cursor: pointer;
    color: #000;
  }

  .navbar-brand {
    height: 65px;
  }

  #olapic-logo {
    height: 100%;
  }
}

ul.article-list {
  padding: 0 0 0 20px;

  li {
    font-size: 16px;
    line-height: 1.5em;
  }

  ul {
    padding: 0 0 5px 20px;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  line-height: 60px;
}

#footer p {
  margin: 0;
}

#footer .links {
  list-style: none;
}

#footer .links li {
  display: inline-block;
  margin-left: 20px;
}


/* Hide Bootstrap mobile menu */
.navbar-toggle {
  display: none !important;
}